 <div  ng-controller = "ArticlesController">
    <div ng-repeat="article in articles | orderBy:id:reverse" class="articles">
        <div class="title-article">
            <div class="inner">
                <h1>{{article.title}}</h1>
            </div>
        </div>

        <div class="content-article">
            <div class="inner">
                <p>{{article.date | date }}</p>
                <p>{{article.content}}</p>

                <a ui-sref="article({ id: article._id })">Lire la suite</a>
            </div>
        </div>
    </div>

    <div id="article-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group"> 
                    <label>Titre</label>
                    <input type="text" class="form-control input-lg text-center" ng-model="title">
                    <label> Contenu de votre article</label>
                    <textarea type="text" class="form-control input-lg text-center" ng-model="content"></textarea>

                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createArticle()">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>